$dark-bg: #39414d;
$content-bg: #f6f8fa;
$aside-bg: #f2f4f6;

$hr-color: #eee;
$border-color: #dde0e3;
$btn-primary-color: #0092d5;

$error-color: #df5b60;

$navbar-color: #c2d3e4;
$navbar-emphasized-color: #ffffff;
